@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-*: initial;
  --color-foreground: white;
  --color-background: oklab(17.803% -0.01656 -0.04237);
  --color-accent: oklab(72.218% 0.10087 0.13836);
  --color-highlight: oklab(42.288% -0.03287 -0.11337);
  --color-muted: oklab(71.366% -0.00289 -0.01904);
}