@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-*: initial;
  --color-foreground: white;
  --color-background: oklab(17.803% -0.01656 -0.04237);
  --color-accent: oklab(72.218% 0.10087 0.13836);
  --color-highlight: oklab(42.288% -0.03287 -0.11337);
  --color-muted: oklab(71.366% -0.00289 -0.01904);
  --color-destructive: oklab(69.2051% 0.17505 0.08666);
  --color-border: oklch(35.79% 0.03201 250.515);

  --color-card: rgba(0, 0, 0, 0.45);
  --color-card-titlebar: rgba(60, 60, 60, 0.8);
  --color-card-titlebar-foreground: rgba(255, 255, 255, 0.85);
  --color-card-window-control-close: oklab(69.2051% 0.17505 0.08666);
  --color-card-window-control-minimize: oklab(83.477% 0.02545 0.15911);
  --color-card-window-control-zoom: oklab(72.804% -0.17743 0.12549);
  --color-card-content: oklab(24.776% 0 -0.00003);

  --shadow-card:
    0 0 3px 0 rgba(255, 255, 255, 0.1) inset, 0 36px 100px 0 rgba(0, 0, 0, 0.4),
    0 0 3px 0 rgba(0, 0, 0, 0.25);
  --shadow-card-titlebar: 0 0.5px 0 0 rgba(0, 0, 0, 0.1) 0 1px 0 0
    rgba(0, 0, 0, 0.1);
  --shadow-card-window-control: 0 0 0 0.5px rgba(0, 0, 0, 0.2) inset;

  --font-sans:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-fira-code), ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-background text-foreground min-h-screen;
  }
  h1 {
    @apply font-mono text-4xl font-bold;
  }

  h2 {
    @apply font-mono text-2xl font-bold;
  }

  p {
    @apply font-sans text-xl font-normal;
  }
}
