@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-*: initial;
  --color-foreground: white;
  --color-background: oklab(17.803% -0.01656 -0.04237);
  --color-accent: oklab(72.218% 0.10087 0.13836);
  --color-highlight: oklab(42.288% -0.03287 -0.11337);
  --color-muted: oklab(71.366% -0.00289 -0.01904);
  --color-destructive: oklab(69.2051% 0.17505 0.08666);

  --font-sans:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-fira-code), ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-background text-foreground min-h-screen;
  }
  h1 {
    @apply font-mono text-4xl font-bold;
  }

  h2 {
    @apply font-mono text-2xl font-bold;
  }

  p {
    @apply font-sans text-xl font-normal;
  }
}
